absl-py==1.4.0
aiodns==3.0.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
alembic==1.10.2
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
argcomplete==3.0.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid==2.15.0
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==22.2.0
autograd==1.5
autopep8==2.0.2
autoray==0.6.3
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
Beaker==1.12.1
beautifulsoup4==4.12.0
binaryornot==0.4.4
black==23.1.0
bleach==6.0.0
blinker==1.5
blivet==3.7.1
blivet-gui==2.3.0
blobfile==2.0.1
blosc2==2.1.1
boto3==1.26.96
botocore==1.29.96
Bottleneck==1.3.7
Brotli==1.0.9
build==0.10.0
CacheControl==0.12.11
cachetools==5.3.0
cachy==0.3.0
certifi==2022.12.7
certipy==0.1.3
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
Chroma==0.2.0
cleo==2.0.1
click==8.1.3
cloudpickle==2.2.1
cmake==3.26.0
cohere==4.1.0
coloredlogs==15.0.1
colour==0.1.5
comm==0.1.2
commonmark==0.9.1
contourpy==1.0.7
cookiecutter==2.1.1
coverage==7.2.2
crashtest==0.4.1
cryptography==39.0.2
cson==0.8
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.33
dasbus==1.7
dataclasses-json==0.5.7
dbus-python==1.3.2
debugpy==1.6.6
decorator==4.4.2
deepspeed==0.9.0
defusedxml==0.7.1
Deprecated==1.2.13
diff-match-patch==20200713
dill==0.3.6
distlib==0.3.6
distro==1.8.0
dlib==19.24.0
dnspython==2.3.0
docstring-to-markdown==0.12
docutils==0.19
dropbox==11.36.0
dulwich==0.21.3
duplicity==1.2.2
entrypoints==0.4
et-xmlfile==1.1.0
evdev==1.6.1
exceptiongroup==1.1.1
execnet==1.9.0
executing==1.2.0
faiss-cpu==1.7.3
fasteners==0.18
fastjsonschema==2.16.3
fedora-third-party==0.8
ffmpeg-python==0.2.0
filelock==3.10.0
flake8==6.0.0
flaky==3.7.0
Flask==2.2.3
Flask-Mail==0.9.1
flatbuffers==23.3.3
flawfinder==2.0.19
fonttools==4.39.2
fqdn==1.5.1
frozenlist==1.3.3
fs==2.4.16
fsspec==2023.3.0
future==0.18.3
gast==0.5.3
gcsfs==2023.3.0
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.31
glcontext==2.3.7
google-api-core==2.11.0
google-api-python-client==2.82.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.59.0
gpg==1.15.1
greenlet==2.0.2
grpcio==1.51.3
grpcio-gcp==0.2.2
gssapi==1.8.2
h5py==3.8.0
helpdev==0.7.1
hjson==3.1.0
html5lib==1.1
httplib2==0.22.0
huggingface-hub==0.13.3
humanfriendly==10.0
humanize==4.6.0
idna==3.4
imageio==2.27.0
imageio-ffmpeg==0.4.8
imagesize==1.4.1
importlib-metadata==6.1.0
inflection==0.5.1
iniconfig==2.0.0
initial-setup==0.3.93
installer==0.7.0
intervaltree==3.1.0
ipykernel==6.22.0
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.5
isoduration==20.11.0
isort==5.12.0
isosurfaces==0.1.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jdcal==1.4.1
jedi==0.18.2
jeepney==0.8.0
jellyfish==0.9.0
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
jsonpickle==3.0.1
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-telemetry==0.1.0
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterhub==3.1.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.6
keras==2.12.0
keyring==23.13.1
kiwisolver==1.4.4
koji==1.32.0
langchain==0.0.118
langtable==0.0.61
lazy-object-proxy==1.9.0
libclang==15.0.6.1
libcomps==0.1.18
libsass==0.22.0
lightning-utilities==0.8.0
lit==16.0.0
llama-index==0.4.34
llvmlite==0.39.1
lockfile==0.12.2
loguru==0.7.0
lutris==0.5.11
lxml==4.9.2
M2Crypto==0.38.0
Mako==1.2.4
manimgl==1.6.1
ManimPango==0.4.3
mapbox-earcut==1.0.1
Markdown==3.4.1
markdown-it-py==2.2.0
markdownify==0.11.6
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mercurial==6.3.3
micrograd==0.1.0
mistune==2.0.5
moderngl==5.8.1
moderngl-window==2.4.3
more-itertools==9.1.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
mthree==2.1.0
multidict==6.0.4
multipledispatch==0.6.0
munkres==1.1.4
mutagen==1.46.0
mypy-extensions==1.0.0
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.8.0
ndindex==1.6
nest-asyncio==1.5.6
netifaces==0.11.0
networks==0.3.7
networkx==3.0
nftables==0.1
ninja==1.11.1
nltk==3.8.1
notebook==6.5.3
notebook_shim==0.2.2
ntlm-auth==1.5.0
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
numpydoc==1.5.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauth2client==4.1.3
oauthlib==3.2.2
odfpy==1.4.1
olefile==0.46
onnxruntime-gpu==1.14.1
openai==0.27.2
openai-whisper==20230314
openpyxl==3.1.2
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.8.8
packaging==23.0
pamela==1.0.0
pandas==1.5.3
pandas-datareader==0.10.0
pandocfilters==1.5.0
paramiko==3.1.0
parso==0.8.3
Paste==3.5.2
pathspec==0.11.1
pbr==5.11.1
pdfrw==0.4
PennyLane==0.29.1
PennyLane-Lightning==0.29.0
PennyLane-qiskit==0.29.0
pexpect==4.8.0
pickleshare==0.7.5
pid==3.0.4
Pillow==9.4.0
pinecone-client==2.2.1
pio==0.0.3
pip-review==1.3.0
pkginfo==1.9.6
platformdirs==2.6.2
plotly==5.14.1
pluggy==1.0.0
ply==3.11
poetry==1.4.1
poetry-core==1.5.2
poetry-plugin-export==1.3.0
poyo==0.5.0
productmd==1.35
proglog==0.1.10
progressbar2==4.2.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.3
proton-client==0.7.1
protonvpn-cli==3.13.0
protonvpn-gui==2.1.1
protonvpn-nm-lib==3.13.0
psutil==5.9.4
psycopg2==2.9.5
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.4
py==1.11.0
py-cpuinfo==9.0.0
pyalsa==1.2.7
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycares==4.3.0
pycodestyle==2.10.0
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.17
pycups==2.0.1
pycurl==7.45.2
pydantic==1.10.6
pydeck==0.8.1b0
pydocstyle==6.3.0
PyDrive==1.3.1
PyDrive2==1.15.1
pydub==0.25.1
pyflakes==3.0.1
pygame==2.3.0
pygit2==1.11.1
pyglet==2.0.5
Pygments==2.14.0
PyGObject==3.44.0
PyJWT==2.6.0
pykickstart==3.47
PyLaTeX==1.4.1
pylatexenc==2.10
pylev==1.4.0
pylint==2.17.0
pylint-venv==3.0.1
pyls-spyder==0.4.0
Pympler==1.0.1
PyMuPDF==1.21.1
PyMySQL==1.0.2
PyNaCl==1.5.0
pynvim==0.4.3
PyOpenGL==3.1.6
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyparted==3.12.0
PyPDF2==3.0.1
pyproject_hooks==1.0.0
PyQt4_sip==4.19.25
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrr==0.10.3
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.2.2
pytest-cov==4.0.0
pytest-forked==1.6.0
pytest-timeout==2.1.0
pytest-xdist==3.2.1
python-augeas==1.1.0
python-constraint==1.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-gettext==4.1
python-gnupg==0.5.0
python-json-logger==2.0.7
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-manatools==0.0.3
python-meh==0.50
python-slugify==8.0.1
python-utils==3.5.2
pythondialog==3.5.3
pytoolconfig==1.2.5
pytorch-lightning==2.0.0
pytube @ git+https://github.com/nficano/pytube@96315dff218c3c5c4621997a5587f9d677774b97
pytube3==9.6.4
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyudev==0.24.0
pyxdg==0.28
PyYAML==6.0
pyzmq==25.0.2
QDarkStyle==3.1
qiskit==0.42.1
qiskit-aer==0.12.0
qiskit-ibmq-provider==0.20.2
qiskit-ignis==0.7.1
qiskit-terra==0.23.3
qstylizer==0.2.2
QtAwesome==1.2.3
qtconsole==5.4.1
QtPy==2.3.0
qtsass==0.3.2
ranger-fm==1.9.3
rapidfuzz==2.13.7
redis==4.5.2
regex==2022.10.31
reportlab==3.6.12
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
retworkx==0.12.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.2
rope==1.7.0
rpm==4.17.1
rpmautospec==0.3.0
rsa==4.9
rst2pdf==0.100
Rtree==1.0.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
rustworkx==0.12.1
s3transfer==0.6.0
sacremoses==0.0.53
sagemath==1.3.0
scann==1.2.9
scikit-learn==1.2.2
scipy==1.10.1
scour==0.38.2
screeninfo==0.8.1
SecretStorage==3.3.3
selinux==3.3
semantic-version==2.10.0
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
sepolicy==3.3
setools==4.4.0
shellingham==1.5.0.post1
simpleline==1.9.0
six==1.16.0
skia-pathops==0.7.4
sklearn==0.0.post4
smart-open==6.3.0
smartypants==2.0.1
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sos==4.2
soupsieve==2.4
speedtest-cli==2.1.3
speg==0.3
Sphinx==6.1.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spotipy==2.22.1
spyder==5.4.2
spyder-kernels==2.4.2
SQLAlchemy==1.4.47
stack-data==0.6.2
stevedore==5.0.0
stone==3.3.1
streamlit==1.21.0
streamlit-chat==0.0.2.2
svgelements==1.9.1
symengine==0.9.2
sympy==1.11.1
systemd-python==235
tables==3.8.0
tabulate==0.9.0
Tempita==0.5.2
tenacity==8.2.2
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado==0.17.1
testpath==0.6.0
text-unidecode==1.3
textdistance==4.5.0
threadpoolctl==3.1.0
three-merge==0.1.1
tiktoken==0.3.1
tinycss2==1.2.1
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.0
torbrowser-launcher==0.3.5
torch==2.0.0
torchmetrics==0.11.4
torchvision==0.15.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.27.2
triton==2.0.0
trove-classifiers==2023.3.9
tweedledum==1.1.1
typed-ast==1.5.4
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
ujson==5.7.0
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.15
validators==0.20.0
virtualenv==20.21.0
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.3
whatthepatch==1.0.4
whisper==1.1.10
widgetsnbextension==4.0.6
wllvm==1.3.1
wrapt==1.15.0
wurlitzer==3.0.3
xarray==2023.2.0
xlrd==2.0.1
XlsxWriter==3.0.9
xlwt==1.3.0
yapf==0.32.0
yarl==1.8.2
youtube-dl==2021.12.17
youtube-transcript-api==0.5.0
yt-dlp==2023.3.4
zipp==3.15.0
